<div class="main-panel">
  <div class="content-wrapper pb-0">
    <div class="page-header flex-wrap">
      <h3 class="mb-0"> Hi, welcome back! <span class="pl-0 h6 pl-sm-2 text-muted d-inline-block">Your web analytics
          dashboard template.</span>
      </h3>
      <div class="d-flex">
        <button type="button" class="btn btn-sm bg-white btn-icon-text border">
          <i class="mdi mdi-email btn-icon-prepend"></i> Email </button>
        <button type="button" class="btn btn-sm bg-white btn-icon-text border ml-3">
          <i class="mdi mdi-printer btn-icon-prepend"></i> Print </button>
        <a href="/admin/add-user"> <button type="button" class="btn btn-sm ml-3 btn-success"> Add User </button></a>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-3 col-lg-12 stretch-card grid-margin">
        <div class="row">
          <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-warning">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Users</p>
                    <h2 class="text-white"> {{userCount}}<span class="h5"></span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-basket bg-inverse-icon-warning"></i>
                </div>
                <h6 class="text-white">18.33% </h6>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3">
            <div class="card bg-danger">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Total Orders</p>
                    <h2 class="text-white"> {{orderCount}}<span class="h5"></span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-cube-outline bg-inverse-icon-danger"></i>
                </div>
                <h6 class="text-white">13.21% Since last month</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6 stretch-card grid-margin grid-margin-sm-0 pb-sm-3 pb-lg-0 pb-xl-3">
            <div class="card bg-primary">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Sales</p>
                    <h2 class="text-white"> ₹{{totalSale}}.<span class="h5">00</span>
                    </h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-briefcase-outline bg-inverse-icon-primary"></i>
                </div>
                <h6 class="text-white">67.98% Since last month</h6>
              </div>
            </div>
          </div>
          <div class="col-xl-12 col-md-6 stretch-card pb-sm-3 pb-lg-0">
            <div class="card bg-success">
              <div class="card-body px-3 py-4">
                <div class="d-flex justify-content-between align-items-start">
                  <div class="color-card">
                    <p class="mb-0 color-card-head">Affiliate</p>
                    <h2 class="text-white">2368</h2>
                  </div>
                  <i class="card-icon-indicator mdi mdi-account-circle bg-inverse-icon-success"></i>
                </div>
                <h6 class="text-white">20.32% Since last month</h6>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-9 stretch-card grid-margin">
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-7">
                <h5>Daily SALES</h5>
                <p class="text-muted"> Show overview {{date}}<a class="text-muted font-weight-medium pl-2"
                    href="#"><u>See Details</u></a>
                </p>
              </div>
              <div class="col-sm-5 text-md-right">
                <button type="button" class="btn btn-icon-text mb-3 mb-sm-0 btn-inverse-primary font-weight-normal">
                  <i class="mdi mdi-email btn-icon-prepend"></i>Download Report </button>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-4">
                <div class="card mb-3 mb-sm-0">
                  <div class="card-body py-3 px-4">
                    <p class="m-0 survey-head">Today Order</p>
                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                      <div>
                        <h3 class="m-0 survey-value">{{todayOrder}}</h3>
                        <p class="text-success m-0"></p>
                      </div>
                      <div id="earningChart" class="flot-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card mb-3 mb-sm-0">
                  <div class="card-body py-3 px-4">
                    <p class="m-0 survey-head">Product Sold</p>
                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                      <div>
                        <h3 class="m-0 survey-value">{{productSold}}</h3>
                        <p class="text-danger m-0"></p>
                      </div>
                      <div id="productChart" class="flot-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="card">
                  <div class="card-body py-3 px-4">
                    <p class="m-0 survey-head">Today Sales</p>
                    <div class="d-flex justify-content-between align-items-end flot-bar-wrapper">
                      <div>
                        <h3 class="m-0 survey-value">₹{{todayEarnings}}</h3>
                        <p class="text-success m-0"></p>
                      </div>
                      <div id="orderChart" class="flot-chart"></div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="row my-3">
              <div class="col-sm-12">
                <div class="flot-chart-wrapper">
                  <div>
                    <canvas id="twoChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-8">
                <p class="text-muted mb-0"> Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
                  tempor incididunt ut labore et dolore. <b>Learn More</b>
                </p>
              </div>
              <div class="col-sm-4">
                <p class="mb-0 text-muted">Sales Revenue</p>
                <h5 class="d-inline-block survey-value mb-0">₹ {{totalSale}} </h5>
                <p class="d-inline-block text-danger mb-0"> last 8 months </p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!-- New Chart Begins Here --}}
    <div class="row">
      <div class="col-xl-8 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h2>Montly Sales</h2>
            
            <div class="row my-3">
              <div class="col-sm-12">
                <div class="flot-chart-wrapper">
                  <div>
                    <canvas id="threeChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
            
           
          </div>
        </div>
      </div>
      {{!-- Chart Ends here --}}
      <div class="col-xl-4 col-sm-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <div class="card-title font-weight-medium"> Business Survey </div>
            <p class="text-muted"> Lorem ipsum dolor sitadipiscing elit, sed amet do eiusmod tempor we find a new
              solution </p>
            <div class="d-flex flex-wrap border-bottom py-2 border-top justify-content-between">
              <img class="survey-img mb-lg-3" src="../Admin/assets/images/dashboard/img_3.jpg" alt="" />
              <div class="pt-2">
                <h5 class="mb-0">Villa called Archagel</h5>
                <p class="mb-0 text-muted">St, San Diego, CA</p>
                <h5 class="mb-0">$600/mo</h5>
              </div>
            </div>
            <div class="d-flex flex-wrap border-bottom py-2 justify-content-between">
              <img class="survey-img mb-lg-3" src="../Admin/assets/images/dashboard/img_1.jpg" alt="" />
              <div class="pt-2">
                <h5 class="mb-0">Luxury villa in Hermo</h5>
                <p class="mb-0 text-muted">Glendale, CA</p>
                <h5 class="mb-0">$900/mo</h5>
              </div>
            </div>
            <div class="d-flex flex-wrap border-bottom py-2 justify-content-between">
              <img class="survey-img mb-lg-3" src="../Admin/assets/images/dashboard/img_2.jpg" alt="" />
              <div class="pt-2">
                <h5 class="mb-0">House on the Clarita</h5>
                <p class="mb-0 text-muted">Business Survey</p>
                <h5 class="mb-0">$459/mo</h5>
              </div>
            </div>
            <a class="text-black mt-3 d-block font-weight-medium h6" href="#">View all <i
                class="mdi mdi-chevron-right"></i></a>
          </div>
        </div>
      </div>
    </div>
    <div class="row">
      <div class="col-xl-4 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-black">To do Task List</h4>
            <p class="text-muted">Created by anonymous</p>
            <div class="list-wrapper">
              <ul class="d-flex flex-column-reverse todo-list todo-list-custom">
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" /> Meeting with Alisa </label>
                    <span class="list-time">4 Hours Ago</span>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" /> Create invoice </label>
                    <span class="list-time">6 Hours Ago</span>
                  </div>
                </li>
                <li class="completed">
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" checked /> Prepare for presentation </label>
                    <span class="list-time">2 Hours Ago</span>
                  </div>
                </li>
                <li>
                  <div class="form-check">
                    <label class="form-check-label">
                      <input class="checkbox" type="checkbox" /> Pick up kids from school </label>
                    <span class="list-time">8 Hours Ago</span>
                  </div>
                </li>
              </ul>
            </div>
            <div class="add-items d-flex flex-wrap flex-sm-nowrap">
              <input type="text" class="form-control todo-list-input flex-grow" placeholder="Add task name" />
              <button class="add btn btn-primary font-weight-regular text-nowrap" id="add-task"> Add Task </button>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-black">Recent Customers</h4>
            <p class="text-muted">All contacts</p>
            <div class="row pt-2 pb-1">
              <div class="col-12 col-sm-7">
                <div class="row">
                  <div class="col-4 col-md-4">
                    <img class="customer-img" src="../Admin/assets/images/faces/face22.jpg" alt="" />
                  </div>
                  <div class="col-8 col-md-8 p-sm-0">
                    <h6 class="mb-0">Cecelia Cooper</h6>
                    <p class="text-muted font-12">05:58AM</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pl-0">
                <canvas id="areaChart1"></canvas>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-4 col-sm-4">
                    <img class="customer-img" src="../Admin/assets/images/faces/face25.jpg" alt="" />
                  </div>
                  <div class="col-8 col-sm-8 p-sm-0">
                    <h6 class="mb-0">Victor Watkins</h6>
                    <p class="text-muted font-12">05:28AM</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pl-0">
                <canvas id="areaChart2"></canvas>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-4 col-sm-4">
                    <img class="customer-img" src="../Admin/assets/images/faces/face15.jpg" alt="" />
                  </div>
                  <div class="col-8 col-sm-8 p-sm-0">
                    <h6 class="mb-0">Ada Burgess</h6>
                    <p class="text-muted font-12">05:57AM</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pl-0">
                <canvas id="areaChart3"></canvas>
              </div>
            </div>
            <div class="row py-1">
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-4 col-sm-4">
                    <img class="customer-img" src="../Admin/assets/images/faces/face5.jpg" alt="" />
                  </div>
                  <div class="col-8 col-sm-8 p-sm-0">
                    <h6 class="mb-0">Dollie Lynch</h6>
                    <p class="text-muted font-12">05:59AM</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pl-0">
                <canvas id="areaChart4"></canvas>
              </div>
            </div>
            <div class="row">
              <div class="col-sm-7">
                <div class="row">
                  <div class="col-4 col-sm-4">
                    <img class="customer-img" src="../Admin/assets/images/faces/face2.jpg" alt="" />
                  </div>
                  <div class="col-8 col-sm-8 p-sm-0">
                    <h6 class="mb-0">Harry Holloway</h6>
                    <p class="text-muted font-12 mb-0">05:13AM</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-5 pl-0">
                <canvas id="areaChart5" height="100"></canvas>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-xl-4 col-md-6 grid-margin stretch-card">
        <div class="card">
          <div class="card-body">
            <h4 class="card-title text-black">Business Survey</h4>
            <p class="text-muted pb-2">Jan 01 2019 - Dec 31 2019</p>
            <canvas id="surveyBar"></canvas>
            <div class="row border-bottom pb-3 pt-4 align-items-center mx-0">
              <div class="col-sm-9 pl-0">
                <div class="d-flex">
                  <img src="../Admin/assets/images/dashboard/img_4.jpg" alt="" />
                  <div class="pl-2">
                    <h6 class="m-0">Red Chair</h6>
                    <p class="m-0">Home Decoration</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 pl-0 pl-sm-3">
                <div class="badge badge-inverse-success mt-3 mt-sm-0"> +7.7% </div>
              </div>
            </div>
            <div class="row py-3 align-items-center mx-0">
              <div class="col-sm-9 pl-0">
                <div class="d-flex">
                  <img src="../Admin/assets/images/dashboard/img_5.jpg" alt="" />
                  <div class="pl-2">
                    <h6 class="m-0">Gray Sofa</h6>
                    <p class="m-0">Home Decoration</p>
                  </div>
                </div>
              </div>
              <div class="col-sm-3 pl-0 pl-sm-3">
                <div class="badge badge-inverse-success mt-3 mt-sm-0"> +7.7% </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>


    {{!-- ------------------------- --}}
    <div class="row">
      
      <div class="col-xl-12 stretch-card grid-margin">
        
        <div class="card">
          <div class="card-body">
            <h2> Sales</h2>
            
            <div class="row my-3">
              <div class="col-sm-12">
                <div class="flot-chart-wrapper">
                  <div>
                    <canvas id="myChart"></canvas>
                  </div>
                </div>
              </div>
            </div>
           
          </div>
        </div>
      </div>
    </div>







  </div>
  <footer class="footer">
    <div class="d-sm-flex justify-content-center justify-content-sm-between">
      <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © eccense.online
        2020</span>
      <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a
          href="https://www.bootstrapdash.com/" target="_blank">My life My rule</a> from
        Eccencse.online</span>
    </div>
  </footer>
</div>
</div>
<!-- page-body-wrapper ends -->
</div>

<script>
  const ctx = document.getElementById('myChart');

  new Chart(ctx, {
    type: 'bar',
    data: {
      labels: ['COD', 'RazorPay', 'PayPal', 'UPI', 'PayLater'],
      datasets: [{
        label: '# of Votes',
        data: [{{ codCount }}, {{ razorPayCount }}, {{ payPalCount }}, 5, {{ payLaterCount }}],
    borderWidth: 1
      }]
    },
    options: {
    scales: {
      y: {
        beginAtZero: true
      }
    }
  }
  });
</script>

<script>
    
//-------------------------------------DAILY SALES DATA----------------------------------------


     const label1 = [
  {{#each daily}}'{{_id}}',{{/each}}
   

  ];

  const data1 = {
    labels: label1,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: '#409456'
      ,
      borderColor: '#409456',


      data: [{{#each daily}} {{totalAmount}},{{/each}}]
    }]
  };

  const config1 = {
    type: 'line',
    data: data1,
    options: {}
  };


  const myChart1 = new Chart(
    document.getElementById('twoChart'),
    config1
  );
   

  </script>

   <script>
   
        //--------------------------MONTH WISE SALES DATA---------------------------------------

    console.log("this is monthly data")
     const label2 = [
      {{#each monthly}}'{{_id}}',{{/each}}
    ];

  const data2 = {
    labels: label2,
    datasets: [{
      label: 'Sales Report',
      backgroundColor: '#409456'
      ,
      borderColor: '#409456',


      data: [{{#each monthly}} {{totalAmount}},{{/each}}]
    }]
  };

  const config2 = {
    type: 'line',
    data: data2,
    options: {}
  };


  const myChart2 = new Chart(
    document.getElementById('threeChart'),config2 );
   
  

  </script>