 <section class="h-100 h-custom mt-5" style="background-color: #d2c9ff;">
  <div class="container py-5 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12">
        <div class="card card-registration card-registration-2" style="border-radius: 15px;">
          <div class="card-body p-0">
            <div class="row g-0">
              <div class="col-lg-8">
                <div class="p-5">
                  <div class="d-flex justify-content-between align-items-center mb-5">
                    <h1 class="fw-bold mb-0 text-black">Shopping Cart</h1>
                    <h6 class="mb-0 text-muted"></h6>
                  </div>
                  
                    {{#each products}}
                   
                    <hr class="my-4">
                  <div class="row mb-4 d-flex justify-content-between align-items-center">
                    <div class="col-md-2 col-lg-2 col-xl-2">
                      <img  src="/pro-images/{{this.product.image.[0]}}" alt="">
                    </div>
                    <div class="col-md-3 col-lg-3 col-xl-3">
                      <h6 class="text-muted">{{this.product.title}}</h6>
                      <h6 class="text-black mb-0">{{this.product.category}}</h6>
                    </div>
                  
                    <div class="col-md-3 col-lg-3 col-xl-3 d-flex">
                      
                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',-1 )">
                        <i class="fa fa-minus"></i>
                      </button>
                        
                      <span id="{{this.product._id}}" class="mt-2">{{this.quantity}}</span>

                      <button class="btn btn-link px-2"
                        onclick="changeQuantity('{{this._id}}','{{this.product._id}}','{{../user}}',1 )">
                        <i class="fa fa-plus"></i>
                      </button>
                    </div>
                    <div class="col-md-3 col-lg-2 col-xl-2 offset-lg-1">
                      <h6 class="mb-0">₹{{this.product.price}}</h6>
                    </div>
                    <div class="col-md-1 col-lg-1 col-xl-1 text-end">
                      <a href="#!" class="text-muted"><i class="fa fa-times"></i></a>
                    </div>
                  </div>
                        {{/each}}

                  <hr class="my-4">

                  <div class="pt-5">
                    <h6 class="mb-0"><a href="#!" class="text-body"><i
                          class="fas fa-long-arrow-alt-left me-2"></i>Back to shop</a></h6>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 bg-grey">
                <div class="p-5">
                  <h3 class="fw-bold mb-5 mt-2 pt-1">Summary</h3>
                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-4">
                    <h5 class="text-uppercase">items 3</h5>
                    <h5>₹ <span id="totalItem">{{total}}</span></h5>
                  </div>

                  <h5 class="text-uppercase mb-3">Shipping</h5>

                  <div class="mb-4 pb-2">
                    <select class="select">
                      <option value="2">Free Delivery</option>
                      <option value="1">Standard-Delivery-₹ 45 </option>
                      <option value="2">Speed-Delivery-₹ 100</option>
                    </select>
                  </div>

                  

                  <div class=" mt-2">
                    <div class="form-outline">
                        {{!-- <h5 class="text-uppercase ">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; code</h5> --}}
                      {{!-- <input type="text" id="couponName" name = "coupon" class="form-control form-control-lg"/> --}}
                      <label class="form-label" for="form3Examplea2"></label>
                    
								  {{!-- <button class="flex-c-m stext-101 size-118 bg8 bor13 hov-btn3 trans-04 pointer btn btn-info mt-2 " id="applyCouponBtn" onclick="applyCoupon(event)">Apply Coupon</button> --}}
								
                    </div>
                  </div>

                  <hr class="my-4">

                  <div class="d-flex justify-content-between mb-5">
                    <h5 class="text-uppercase">Total</h5>
                    <h5>₹ <span id="total">{{total}}</span></h5>
                  </div>

                 <a href="/checkout"> <button type="button" class="btn btn-dark btn-block btn-lg"
                    data-mdb-ripple-color="dark">Checkout</button></a>

                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>




<script>
  function changeQuantity(cartId,proId,userId,count){
    console.log(cartId,proId,count)
    let quantity = parseInt(document.getElementById(proId).innerHTML)
    console.log(quantity)
    count = parseInt(count)
    $.ajax({
      url:'/changeProductQuantity',
      data:{
        user:userId,
        cart:cartId,
        product:proId,
        count:count,
        quantity:quantity,
      },
      method:'post',
      success:(response)=>{
        if(response.removeProduct){
          alert("Product Removed ")
          location.reload()
        }else{
          document.getElementById(proId).innerHTML=quantity+count
          document.getElementById('total').innerHTML=response.total
          document.getElementById('totalItem').innerHTML=response.total
        }
      }
    })
  } 
</script>